
:root{
font-family:'baloo',Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
.contianer--rodape {
    width: 100%;
    background-color: #432957;
    background-size: 100%;
    height: 30%;
}

.contianer--lista--link {
    padding-top: 5%;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    height: 3rem;
}

.lista {
    padding-top: 1%;
}

.lista--link {
    text-align: center;
    text-decoration: none;
    margin: 0 2%;
    color: white;
    font-weight: 700;
    font-size: 1.0rem;

}

.lista--link:hover {
    color: #146C6C;
    font-weight: 500;
}

.redes {
    padding-top: 5%;
    text-align: end;
    margin-right: 10%;

}

.h3--redes {
    color: #FFE794;
    font-size: 1.5rem;
    text-align: end;
    margin-right: 1%;
}

#img--redes {
    margin: 0.5%;
    width: 2.1rem;
}

#img--logo--rodape {
    width: 20%;
}

.rodape--texto {
    margin-left: 15%;
    font-size: 2rem;
    width: 40%;
    height: 40%;
    color: #eceaea;
    font-weight: 500;
    margin-bottom: 2%;

}
.ultimo--texto {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #eceaea;
    padding-bottom: 7%;

}
