/* Header */
.header {
  background-color: #fff;
  padding: 20px 0;
}

.header-container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.header-container .containerCima {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerCima .header-inner1 {
  margin: 0;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerCima .header-inner1 .pesquisa {
  width: 330px;
  height: 50px;
  border-radius: 50px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.containerCima .header-inner1 .pesquisa input {
  width: 240px;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
}
.containerCima .header-inner1 .pesquisa:hover {
  color: #432957;
  cursor: pointer;
}
.containerCima .header-inner2 {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;

}
.containerCima .header-inner2 .minhaConta {
  position: relative;
  margin-left: 0;
  margin-right: 15px;
  width: 90px;
  height: 34px;
}
.inner2 button a {
color: black;
}
.containerCima .header-inner2 .minhaConta i {
  margin-left: 0;
  margin-right: 5px;
}
.containerCima .header-inner2 .minhaConta button {
  background-color: #a8d5ba;
  margin-left: 0;
}
.containerCima .header-inner2 .darkTheme {
  position: relative;
  margin-left: 0;
  font-weight: bold;
}
.containerCima .header-inner2 .darkTheme button {
  width: 34px;
  height: 34px;
  margin-left: 0;
}
.containerCima .header-inner2 .fontPlus {
  position: relative;
  margin-left: 0;
  font-weight: bold;
}
.containerCima .header-inner2 .fontPlus button {
  width: 34px;
  height: 34px;
  margin-left: 0;
}
.containerCima .header-inner2 .language {
  position: relative;
  width: 80px;
  margin-left: 0;
  font-weight: bold;
}
.containerCima .header-inner2 .language-selected {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.containerCima .header-inner2 .language-selected:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/flag/brazil.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.containerCima .header-inner2 .language-selected.change-br:before {
  background-image: url(../img/flag/brazil.png);
}
.containerCima .header-inner2 .language-selected.change-en:before {
  background-image: url(../img/flag/usa.png);
}
.containerCima .header-inner2 .language ul {
  position: absolute;
  width: 140px;
  border: 1px solid #f8f8f8;
  padding-top: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  display: none;
}

.containerCima .header-inner2 .language ul li {
  list-style: none;
}

.containerCima .header-inner2 .language ul li a {
  display: block;
  color: #252525;
  background-color: #fff;
  padding: 5px 10px;
}
.containerCima .header-inner2 .language ul li:hover {
  background-color: #f8f8f8;
}

.containerCima .header-inner2 .language ul li a:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}
.containerCima .header-inner2 .language:hover ul {
  display: block;
}
.containerCima .header-inner2 .language a.br:before {
  background-image: url(../img/flag/brazil.png);
}

.containerCima .header-inner2 .language a.en:before {
  background-image: url(../img/flag/usa.png);
}

.containerCima .header-inner2 .carrinho {
  position: relative;
  margin-left: 5px;
}
.containerCima .header-inner2 .carrinho button {
  background-color: #ffe794;
  width: 34px;
  height: 34px;
  margin-left: 0;
  margin-right: 15px;
}

.header-container .containerBaixo {
  width: 100%;
  margin: 0;
  padding: 0 15px;
  height: 70px;
  display: flex;
  background-color: #87ceeb;
  justify-content: space-between;
  align-items: center;
}
.header-container .containerBaixo .inner1 .lines {
  display: none;
}
.header-container .containerBaixo button {
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
}

@media screen and (max-width: 840px) {
  .header-container {
    flex-direction: column;
  }
  .header-container .containerCima {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .containerCima .header-inner1 {
    width: 100%;
  }
  .containerCima .header-inner2 {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .header-container .containerBaixo .inner1 .menuDesk {
    display: none;
  }
  .header-container .containerBaixo .inner1 .lines {
    display: inline;
  }
  .header-container .containerBaixo .inner1 .lines .menuMobile ul {
    position: absolute;
    width: 340px;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    background-color: #87ceeb;
  }
  .header-container .containerBaixo .inner1 .lines .menuMobile ul li {
    list-style: none;
  }

  .header-container .containerBaixo .inner1 .lines .menuMobile ul li a {
    display: block;
    color: #252525;
    background-color: #fff;
    padding: 5px 10px;
  }
  .header-container .containerBaixo .inner1 .lines .menuMobile ul li:hover {
    background-color: #f8f8f8;
  }

  .header-container .containerBaixo .inner1 .lines .menuMobile:hover ul {
    display: block;
  }
  .containerCima .header-inner1 .pesquisa {
    width: 200px;
    height: 30px;
    margin: 0 20px;
  
}
.containerCima .header-inner1 .pesquisa input {
  width: 100px;
}
.logo img{
  width:  70%;
  margin-left: 5%;

}
}