.servico {
    text-align: center;
    width: 100%;
    height: 50vh;
    padding: 5%;
}
.servico h1 {
margin-bottom: 5%;
font-size: 3rem;
}
.service1 {
    padding: 45px 90px;
    background-color: #432957;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    margin-right: 5%;
}

.divService {}

.service2 {
    padding: 45px 90px;
    background-color: #A8D5BA;
    color: black;
    border-radius: 10px;
    font-size: 25px;
    margin-right: 5%;
}

.service3 {
    padding: 45px 90px;
    background-color: #87CEEB;
    color: black;
    font-weight: 500;
    border-radius: 10px;
    font-size: 25px;
}

@media screen and (max-width: 850px) {
    .servico {

        text-align: center;
        width: 100%;
        height: 50vh;
        margin-bottom: 40%;
    }
    .servico h1 {
        margin-bottom: 5%;
        font-size: 1.5rem;
        }

    .divService {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .service1 {
        padding: 30px 70px;
        background-color: #432957;
        color: white;
        border-radius: 10px;
        font-size:1.2rem;
        margin-right: 0%;
    }

    .service2 {
        padding: 30px 60px;
        background-color: #A8D5BA;
        color: black;
        border-radius: 10px;
        font-size:1.2rem;
        margin-right: 0%;

    }

    .service3 {
        padding: 30px 55px;
        background-color: #87CEEB;
        color: black;
        border-radius: 10px;
        font-size:1.2rem;
    }

}

@media screen and (min-width: 851px) and (max-width:1250px) {
    .servico {
        text-align: center;
        width: 100%;
        height: 50vh;
        padding: 2%;
    }
    .servico h1 {
        margin-bottom: 5%;
        font-size: 2rem;
        }
    .service1 {
        padding: 30px 50px;
        background-color: #432957;
        color: white;
        border-radius: 10px;
        font-size: 25px;
        margin-right: 2%;
    }

    .service2 {
        padding: 30px 50px;
        background-color: #A8D5BA;
        color: black;
        border-radius: 10px;
        font-size: 25px;
        margin-right: 2%;
    }

    .service3 {
        padding: 30px 50px;
        background-color: #87CEEB;
        color: black;
        font-weight: 500;
        border-radius: 10px;
        font-size: 25px;
        margin-right: 2%;
    }

}