.login{
    display: flex;
width: 100%;
}
.login-box {

    width: 50%;
    height: 75vh;
    margin: 3%;

    display: block;
    color: white;
    background-color: #87CEEB;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

.login-box h2 {
    font-size: 2.5rem;
    margin-top: 3%;
    color: black;
}

.login-box form div {
    margin-top: 10%;

}
#label{
    display: flex;
    text-align:justify;
    font-size: 1.3rem;
    color: black;
    font-weight: 500;
    padding-left: 10%;
}

.login-box form div input {
    width: 80%;
    height: 4.5vh;
    border-radius: 10px;
    border-style: none;
    font-size: 1rem;
    padding-left: 10px;
    opacity: 90%;
    

}

.login-box form div a {
    color: black;
    padding: 1% 35%;
    background-color: #A8D5BA;
    border-radius: 10px;
    font-size: 1.7rem;
}

.promo{
    width: 50%;
    margin: 5% 3% 3% 3%; 
    display: block;
    color:black;
    font-size: 1.7rem;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    position: relative;
}
#entrarPromo {
    color: black;
    width: 100%;
    padding: 1% 35%;
    background-color: #A8D5BA;
    border-radius: 10px;

 
}
#span1{
    font-size:3rem ;
    font-weight: 600;
    color: #F0000a;
    
}
#span2{
    font-size:3rem ;
    font-weight: 600;
    color: #1BCD0C;
}
.trocaSenha{
    width: 30px;
    height: 30px;
    margin-top: 50px;
    text-align: center;
    font-size: 1rem;
}